<web-app>
 <servlet>
   <servlet-name>intertubes</servlet-name>
   <servlet-class>intertubes</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>intertubes</servlet-name>
   <url-pattern>/*</url-pattern>
 </servlet-mapping>
 <resource-ref>
	 <description>Intertubes Links and Hits Database</description>
	 <res-ref-name>jdbc/intertubes</res-ref-name>
	 <res-type>javax.sql.DataSource</res-type>
	 <res-auth>Container</res-auth>
 </resource-ref>
</web-app>
